.header-bar {
  height: 100px;
  width: 100%;
}

.header-buffer, .subheader-buffer {
  display: block;
  height: 100px;
  margin-left: auto;
  margin-right: auto;
}

.beginner-subheader {
  width: 290px;
}

.intermediate-subheader {
  width: 340px;
}

.expert-subheader {
  width: 260px;
}

.header-buffer {
  width: 488px;
}

.mine, #mines, #clock {
  display: inline-block;
  max-height:100%;
}

#mines, #clock {
  background-color:red;
  font-weight: bold;
  font-size: 20px;
}

h1, h2{
  display: inline-block;
  max-height:100%;
}


.coices {
  width: 100%;
}

.choice-label {
  width: 100%;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
}

.choice-immage {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.board-unit {
  width: 16px;
  height: 16px;
}

.board {
  margin-left: auto;
  margin-right: auto;
}

.beginner-b {
  width = 144px;
}

.uncovered {
  background-image: url("grid_icon_uncovered.bmp");
}

.covered {
  background-image: url("grid_icon_covered.bmp");
}

.bomb-uncovered {
  background-image: url("grid_icon_bomb_uncovered.bmp");
}

.bomb-activated {
  background-image: url("grid_icon_bomb_activated.bmp");
}

@media (max-width: 2199px) {
	.choose {
	  display: inline-block;
	}
	
	.beginner {
	  width: 21%;
	}
	
	.intermediate {
	  width: 30%;
	}
	
	.expert {
	  width: 46%;
	}
}

@media (max-width: 960px) {
	
	.choose {
	  display: inline-block;
	}
	
	.beginner {
	  width: 23%;
	}
	
	.intermediate {
	  width: 35%;
	}
	
	.expert {
	  width: 40%;
	}
}

@media (max-width: 715px) {
	.choice-immage {
	  display: none;
	}
	
	.beginner {
	  width: 100%;
	}
	
	.intermediate {
	  width: 100%;
	}
	
	.expert {
	  width: 100%;
	}
}