.header-bar {
  height: 90px;
  width: 100%;
}

.subheader-bar {
  height: 65px;
  width: 100%;
}

.game-bar {
  height: 50px;
  width: 100%;
  margin-bottom: 11px;
}

.header-buffer, .subheader-buffer, .game-buffer {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.game-buffer {
  width: 129px;
  height: 50px;
}

.header-buffer {
  height: 90px;
  width: 454px;
}

.subheader-buffer {
	height: 65px;
}

.beginner-subheader {
  width: 222px;
}

.intermediate-subheader {
  width: 270px;
}

.expert-subheader {
  width: 192px;
}

.mine, #mines, #clock, #face {
  display: inline-block;
  max-height:100%;
}

#face {
  margin-left: 3px;
}

#mines, #clock {
  background-color:red;
  font-weight: bold;
  font-size: 20px;
}

h1, h2{
  display: inline-block;
  max-height:100%;
}

h2 {
  margin-top: 15px;
}

.coices {
  width: 100%;
}

.choice-label {
  width: 100%;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
}

.choice-immage {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.board-unit {
  width: 16px;
  height: 16px;
}

.board {
  margin-left: auto;
  margin-right: auto;
}

.beginner-b {
  width = 144px;
}

.happy {
  background-image: url("faces_smile.png");
}

.scared {
  background-image: url("faces_scared.png");
}

.cool {
  background-image: url("faces_cool.png");
}

.dead {
  background-image: url("faces_dead.png");
}

.uncovered {
  background-image: url("grid_icon_empty.bmp");
}

.covered {
  background-image: url("grid_icon_covered.bmp");
}

.bomb-uncovered {
  background-image: url("grid_icon_bomb_uncovered.bmp");
}

.bomb-activated {
  background-image: url("grid_icon_bomb_activated.bmp");
}

.flagged {
  background-image: url("grid_icon_flag.bmp");
}

.adj-1 {
  background-image: url("grid_icon_1.bmp");
}

.adj-2 {
  background-image: url("grid_icon_2.bmp");
}

.adj-3 {
  background-image: url("grid_icon_3.bmp");
}

.adj-4 {
  background-image: url("grid_icon_4.bmp");
}

.adj-5 {
  background-image: url("grid_icon_5.bmp");
}

.adj-6 {
  background-image: url("grid_icon_6.bmp");
}

.adj-7 {
  background-image: url("grid_icon_7.bmp");
}

.adj-8 {
  background-image: url("grid_icon_8.bmp");
}

@media (max-width: 2199px) {
	.choose {
	  display: inline-block;
	}
	
	.beginner {
	  width: 21%;
	}
	
	.intermediate {
	  width: 30%;
	}
	
	.expert {
	  width: 46%;
	}
}

@media (max-width: 960px) {
	
	.choose {
	  display: inline-block;
	}
	
	.beginner {
	  width: 23%;
	}
	
	.intermediate {
	  width: 35%;
	}
	
	.expert {
	  width: 40%;
	}
}

@media (max-width: 715px) {
	.choice-immage {
	  display: none;
	}
	
	.beginner {
	  width: 100%;
	}
	
	.intermediate {
	  width: 100%;
	}
	
	.expert {
	  width: 100%;
	}
}